/* You can add global styles to this file, and also import other style files */
body{
  margin-top: 50px;
}
.logo img{
  width: 106%;
}
.list{
  padding: 30px 0px;
  list-style: none;
}
.list-div{
  background-color: #80808017;
}
.list li{
  padding: 20px 10px;
}
.list li a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  padding-left: 20px;
}
.list div{
  background-size: cover;
  height: 30px;
  width: 30px;
  float: left;
}
.list li:hover{
  border-left:2px solid red;
}
.list li:hover > a{
  color: red;
}
.list li:hover > div{
  background-color: red!important;
}
.input-group {
  width: 500px;
  margin-top: 35px;
  float: left;
}
.profile{
  float: right;
  position: relative;
  border-right: 3px solid #8080803b;
  padding: 10px;
}
.profile img{
  height: 70px;
  border-radius: 100%;
  margin-right: 400px;
}
.profile h2{
  position: absolute;
  top: 30px;
  right: 100px;
  color: #8080803b;
  text-transform: uppercase;
}
.settings{
  float: right;
  padding: 25px 0px;
  padding-left: 40px;
}
.publish{
  background-color: #80808017;
  padding-top: 30px;
}
.publish h5{
  color: blue;
}
.publish .input-group{
  width: 200px;
  margin-top: 0;
  float: unset;
}
.publish .form-control{
  width: 150px;
}
.input-group-btn button{
  border-left: none;
}
.main-content{
  background-color: #80808005;
}
.FixedHeightContainer
{
  height: 500px;
  width: 100%;
  padding-top: 30px;
}
.Content
{
  height: 100%;
  overflow:auto;
}
.filter{
  padding-top: 50px;
}
.filter span p{
  display: unset;
  position: relative;
  bottom: 10px;
}
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ff9800bd;
}
.thumbnail{
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 100%;
  height: 100%;
}
.container-img {
  position: relative;
  padding: .5rem;
  background-color: black;
  width: 20%;
  height: 45%;
  float: left;
  cursor: pointer;
  background-clip: content-box;
}
.overlay-img {
  position: absolute;
  top: .5rem;
  left: .5rem;
  height: 92%;
  background-color: black;
  width: 92%;
  opacity: 0;
  transition: .5s ease;
}
.container-img:hover .overlay-img {
  opacity: .6;
}
.overlay-img-active , .overlay-img-active-all{
  opacity: .6;
}
.text-img {
  color: #ffa500cc;
  font-size: 20px;
  position: absolute;
  text-align: center;
  top: 35%;
  left: 40%;
  opacity: 0;
}
.text-img-active{
  color: green;
  font-size: 20px;
  position: absolute;
  text-align: center;
  top: 35%;
  left: 32.5%;
  opacity: 0;
}
.text-img-actived , .text-img-actived-all{
  opacity: 1;
}
.text-img-none , .text-img-none-all{
  display: none;
}
.container-img:hover .text-img{
  opacity: 1;
}
.container-img:active{
  opacity: 1;
}
.text-img .fa{
  display: block;
}
.text-img .fa-check:before{
  border: 3px solid #ffa500cc;
  border-radius: 100%;
}
.text-img-active .fa{
  display: block;
}
.text-img-active .fa-check:before{
  border: 3px solid green;
  border-radius: 100%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 25px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 35px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 40%;
}
.form-control {
    display: inline;
    width: 250px;
}
.provider{
  list-style-type: none;
  height: 30px;
}
.provider li{
  float: left;
  padding: 20px 30px;
  font-size: 24px;
}
.provider li a{
  text-decoration: none;
  color: #000;
}
.provider li:hover{
  border-bottom: 4px solid orange;
  font-weight: bold;
}
input[type="checkbox"], input[type="radio"]{
	position: absolute;
	right: 9000px;
}
.label-text{
  font-size: 18px;
}
/*Check box*/
input[type="checkbox"] + .label-text:before{
	content: "\f096";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text:before{
	content: "\f14a";
	color: #2980b9;
	animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text{
	color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
	content: "\f0c8";
	color: #ccc;
}

input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	color: blue;
	animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

input[type="radio"]:disabled + .label-text:before{
	content: "\f111";
	color: #ccc;
}

/*Radio Toggle*/

.toggle input[type="radio"] + .label-text:before{
	content: "\f204";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 10px;
}

.toggle input[type="radio"]:checked + .label-text:before{
	content: "\f205";
	color: #16a085;
	animation: effect 250ms ease-in;
}

.toggle input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

.toggle input[type="radio"]:disabled + .label-text:before{
	content: "\f204";
	color: #ccc;
}
.search_settings{
  padding: 10px 40px;
}
.search_settings .input-group-addon{
  background-color: transparent;
}
.fa-search:before{
  color: red;
}
